.main{
    position: relative;
    top:170px;
}
#demo1 {
    position: relative;
    left: 20%;
    top: 100%;
}
.progress {
    position: relative;
    left: 18%;
    top: -30px;
}
button {
    position: relative;
    top: 20px;
    left: 20px;
}
#tabsDemo {
    position: relative;
    top:110px;
    left:20%
}