form {
    padding-top: 120px;
    padding-bottom: 20px;
    font-weight: 600;
    width: 70%;
    padding-left: 210px;
}
h1{
    font-weight: 700;
    font-size: 40px;
}
body {
    overflow-x: hidden; 
    overflow-y: scroll;
}
#title {
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    border: none;
}