.header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 510;
    margin-right: 10;
}
.navbar {
    padding-top: 30px;
    
}

img {
    cursor: pointer;
}
body {
    overflow-x: hidden; 
    overflow-y: scroll;
}